<div class="main-container">
  <div #chatbox class="chatbox">
    <div style="flex: 1"></div>
    @for (message of messages(); track message.id) {
      <div class="message" [attr.data-role]="message.role" animate.enter="enter-animation">
        <div class="content">
          <div>{{ message.content }}</div>

          @if (message.role === 'user') {
            <cds-icon color="white" name="{{ iconByState(message.state) }}" size="24px" />
          }
        </div>
      </div>
    }
  </div>
  <form class="composer" (ngSubmit)="send()">
    <cds-icon-button class="attachment-button">
      <cds-icon class="send-button-icon" name="cds_attachment" />
    </cds-icon-button>
    <textarea
      #messageInput
      class="message-input"
      rows="1"
      [formControl]="messageControl"
      (input)="autoResize()"
      (keydown.enter)="$event.preventDefault(); send()"
    ></textarea>

    <cds-icon-button class="send-button"
      (click)="send()"
      (keydown.enter)="send()"
      type="submit"
      [disabled]="messageControl.invalid"
    >
      <cds-icon name="cds_forward" />
    </cds-icon-button>
  </form>
</div>
