:host {
  display: flex;
  width: 100%;
}

.main-container{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
}

.chatbox{
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	min-height: 0;
	padding: 0.75rem;
	gap: 0.25rem;
}
.message{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message[data-role='user'] {
	justify-content: flex-end;
}

.message[data-role='assistant'] {
	justify-content: flex-start;
}

.content {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0;
	max-width: min(65ch, 85%);
	padding: 0.5rem 0.75rem;
	border-radius: 0.75rem;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	border: 1px solid;
	background-color: var(--color-green-600);
	color: white;
}

.message[data-role='user'] .content {
	background-color: rgba(0,0,0,0.5)
}

.empty {
	opacity: 0.7;
	padding: 0.75rem;
}

.composer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem;
	border: 1px solid;
	border-radius: 10px;
	margin:10px
}

.message-input {
	flex: 1;
	box-sizing: border-box;
	font: inherit;
	padding: 0.5rem 0.75rem;
	border:none;	
	max-height: 400px;
	overflow-y: hidden;
	resize: none;
}

.message-input:focus {
	outline: none;
}
textarea {
	flex: 1;
}


.enter-animation {
  animation: fade 1s;
}

.send-button {
  --background: var(--color-green-600);
  --border-radius: 16px;
  --color: white;
}

@keyframes fade {
  from {
    opacity: 0;   
  }
  to {
    opacity: 1;    
  }
}


